:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light: #ddd;
  --dark: #222;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


#menu {
  & {
    position: fixed;
    top: 0;
    left: 0;
    list-style-type: none;
    padding: 0 0.5em;
    height: 100vw;
    background-color: #0008;
  }

  li {
    margin: 0.25em 0;
  }

  button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.5em;

    &:hover:active,
    &.selected {
        background-color: var(--light);
      color: var(--dark);
    }

    img {
      width: 3em;
      height: 3em;
      user-select: none;
    }
  }
}